.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* Spinner 1 */
.spinner-1:before {
  content:"";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 30%;
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  border: 4px solid #C8C8C8;
  border-top-color: #61dafb;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.main {
  text-align: center;
}